__pycache__/
*.py[codz]
*$py.class

.env
.env.*
!.env.example
.venv/
venv/
env/
ENV/

.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/

logs/
dbt_transform/dbt_packages/
dbt_transform/target/
dbt_transform/logs/

data/raw/
